@page
@model LeapYears.Pages.History.IndexModel

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Szukana fraza
            </th>
            <th>
                Użytkownik
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.records.History) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
